/* CSS3 | Açıklama Satırları ile Çalışmak ve Genel Font Özellikleri #4 */
/* body {
  background-color: rgb(81, 150, 146);
  font-family: Arial, sans-serif;
}  */
h2 {
  color: red;
  font-size: 34px;
  /* text-transform: uppercase; */
}
p {
  color: black;
  font-size: 24px;
}